@import "../mixins";

.card-form {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  padding: 15px;
  margin: 5px;

  @include phonePortrait() {
    min-width: 0;
    width: 100%;
  }

  @media print {
    min-width: 0;
    width: 43%;
  }

  &--routed {
    border: none;
    
    @include phonePortrait() {
      padding: 0;
      width: 95%;
    }
  }

  &__container {
    display: flex;

    &--last {
      @media screen {
        margin-bottom: 20px;
      }
    }
  }

  &__description {
    width: 70px;
  }

  &__keyword {
    border: 1px dotted lightslategray;

    @media print {
      border: none;
    }

    font-size: 15px;
    min-height: 18px;
    max-height: 90px;
    margin-bottom: 2px;
    outline: 0;
    overflow: hidden;
    resize: none;
    max-width: 348px;
    width: 100%;
  }

  &__save {
    margin-top: auto;
  }
  
  &__delete {
    margin: 2px 0;
  }

  &__edit {
    margin-top: auto;
  }

  .awesomplete {
    width: 100%;
    max-width: 348px;
  }
}
