@import "../mixins";

.navigation {
  @media print {
    display: none;  
  }

  flex: 0 0 250px;
  flex-direction: column;
  margin-top: 100px;
  
  @include phonePortrait() {
    flex-direction: row;
    margin-top: 0;
    flex: 0 0 25px;
  }

  &__list {
    list-style: none;
    padding: 0 0 0 20px;

    @include phonePortrait() {
      display: inline-block;
    }
  }

  &__item {
    &--active {
      text-decoration: underline;
    }
  }

  &__link {
    border: none;
    color: black;
    font-weight: bolder;
    outline: 0;
    text-decoration: none;

    &:active,
    &:visited {
      color: black;
    }
  }
}
