@import "./mixins";

.app {
  display: flex;
  justify-items: stretch;
  align-items: flex-start;

  @include phonePortrait() {
    flex-direction: column;
  }

  
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.router-view {
  display: flex;
  flex-direction: column;
}

.btn {
  $btnFontSize: 16px;

  @media print {
    display: none;
  }

  appearance: none;
  background-color: #e7e7e7;
  border: 1px solid gray;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  font-size: $btnFontSize;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;
  text-align: center;
  text-decoration: none;

  @include phonePortrait() {
    padding: 10px;
  }

  &:hover {
    background-color: lighten(#e7e7e7, 5%);
  }

  &--delete {
    color: white;
    background-color: darkred;

    &:hover {
      background-color: lighten(darkred, 5%);
    }
  }

  &--save {
    color: black;
    background-color: green;

    &:hover {
      background-color: lighten(green, 5%);
    }
  }

  &--github {
    background-image: url("assets/icons/github-mark-32px.png");
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-size: $btnFontSize;
    padding-right: $btnFontSize + 10px;

    @include srcset() {
      background-image: url("assets/icons/github-mark-64px.png");
    }
  }
}
