.app {
  display: flex;
  justify-items: stretch;
  align-items: flex-start;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.router-view {
  display: flex;
  flex-direction: column;
}

.btn {
  appearance: none;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px;

  &--delete {
    color: white;
    background-color: darkred;

    &:hover {
      background-color: lighten(darkred, 5%);
    }
  }

  &--save {
    color: black;
    background-color: green;

    &:hover {
      background-color: lighten(green, 5%);
    }
  }
}
